.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 350px;
}
input{
    margin: 20px;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid black;
}
.nav-link{
    color: darkgray;
}
.navbar {
    background: linear-gradient( to left, #050505, #e7f2d5);
    display: contents;
}
.Services
{
    padding:80px;
    background: linear-gradient( to left, #050505, #e7f2d5);
}

*{
    margin: 0%;
    padding: 0%;
}

.header{
      height: 100vh;
}
h1
{
    background: transparent;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    color:black;
}